/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import 'variables';

.ds-2col > .group-left {
  float: left;
  width: 50%;
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 48.75%;
  }
  .ds-2col > .group-left {
    margin-right: 2.5%;
  }
}

/* Algemeen */
a.buttonred {
  float: left;
  padding: 10px 10px;
  font-size: 12px;
  width: 24%;
  text-align: center;
  box-sizing: border-box;
  font-weight: 300;
  background-color:$orange;
  color: #fff;
  text-transform: uppercase;
}

/* Contact */
.block-views-contact-contact-block {
  .group-left {
    width:20%;
  }
}

/* Banner */
#zone-header {
  #region-header-first {
    .field-name-field-body {
      bottom: 20%;
      background-color: #000;
      opacity: 0.8;
      color: #FFFFFF;
      padding: 16px 10px;
      position: absolute;
      display:block
    }
    .field-name-field-title {
      bottom: 45%;
      font-size: 30px;
      background-color: #000;
      opacity: 0.8;
      color: #FFFFFF;
      padding: 16px 10px;
      position: absolute;
      text-transform: uppercase;
      display:block;
    }
  }
  .field-collection-view {
    width:100%;
    margin:0;
  }
}

/* Footer */
#region-footer-first {
  margin-bottom:0px;
}

#region-footer-second {
  margin-bottom:0px;
}