/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
@import 'variables';


/* Banner */
#zone-header {
  #region-header-first {
    .field-name-field-body {
      bottom: 25%;
    }
    .field-name-field-title {
      bottom: 45%;
    }
  }
  .field-collection-view {
    width:100%;
    margin:0;
  }
}

/* Googlemaps */
.context-neem-contact-met-ons-op {
  #block-block-1 {
    width:100%;
  }
}

/* News */
.view-display-id-page_1_nieuws {
  .views-field-view-node {
    a {
      float: left;
    }
  }
}