/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Fonts */
/* Colors */
body {
  font-size: 100%;
  font-family: "Lato", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Lato", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link, div {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f59f00; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

/* Algemeen */
p {
  margin-bottom: 0; }

li {
  list-style: none; }

a.buttonred {
  float: left;
  padding: 10px 10px;
  font-size: 12px;
  width: 40%;
  text-align: center;
  box-sizing: border-box;
  font-weight: 300;
  background-color: #f59f00;
  color: #fff;
  text-transform: uppercase; }

h2.block-title {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 60px;
  font-size: 1.875em; }

h2 {
  font-weight: 300; }

.logo-img {
  width: 60%; }

.zone-preface-wrapper {
  margin-top: 50px; }

.zone-branding-wrapper {
  padding: 10px 0; }

.region-preface-first {
  padding: 50px 0 0 0; }

.zone-postscript-wrapper {
  padding: 50px 0;
  background-color: #f1f4f9; }

.zone-footer-wrapper {
  background-color: #4d74a3;
  padding: 20px 0; }

.zone-content-wrapper {
  padding: 90px 0 50px 0; }

/* Banner */
#zone-header {
  width: 100%; }
  #zone-header #region-header-first {
    width: 100%;
    margin: 0; }
    #zone-header #region-header-first img {
      width: 100%;
      display: none; }
    #zone-header #region-header-first .field-name-field-body {
      display: none; }
    #zone-header #region-header-first .field-name-field-title {
      display: none; }
  #zone-header .field-collection-view {
    width: 100%;
    margin: 0; }

#block-views-banner-block a {
  color: #f59f00; }
#block-views-banner-block a:hover {
  color: #f59f00; }

/* Menu */
.block-superfish-1 {
  float: right; }
  .block-superfish-1 ul li a {
    font-family: "Lato", sans-serif;
    font-size: 0.938em;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin: 32px 35px 0 0;
    border-top: 3px solid transparent;
    padding-top: 5px; }
  .block-superfish-1 ul li a:hover {
    color: #4d74a3; }
  .block-superfish-1 ul li a.active {
    color: #000;
    border-top: 3px solid #4d74a3; }
  .block-superfish-1 ul li a.notactive {
    border-top: 3px solid transparent; }

#superfish-1-select {
  background: #94d600 url("img/hamburger-menu-icon.png") no-repeat 10px center;
  background-size: 20px;
  color: #000;
  position: relative;
  float: right;
  padding: 18px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
  font-size: 0; }

#superfish-1-select:hover {
  background-color: #ddd; }

.region-branding-inner {
  width: 60%;
  float: left; }

/* Frontpage */
.block-nieuws-news-frontpage-block .more-link {
  clear: both;
  text-align: center; }
  .block-nieuws-news-frontpage-block .more-link a {
    background-color: #4d74a3;
    color: #fff;
    padding: 14px 25px;
    font-size: 1em;
    display: inline-block; }
.block-nieuws-news-frontpage-block .views-row {
  width: 100%;
  padding: 0 6%;
  float: left;
  box-sizing: border-box;
  margin-bottom: 60px; }
  .block-nieuws-news-frontpage-block .views-row .views-field-created {
    font-size: 0.813em; }
  .block-nieuws-news-frontpage-block .views-row .views-field-title a {
    color: #000;
    font-size: 1.125em; }
  .block-nieuws-news-frontpage-block .views-row .views-field-field-samenvatting {
    font-size: 0.938em; }
  .block-nieuws-news-frontpage-block .views-row .views-field-field-image {
    width: 100%;
    float: left;
    margin-bottom: 10px; }
    .block-nieuws-news-frontpage-block .views-row .views-field-field-image img {
      width: 100%; }

.view-display-id-frontpage_diensten_block .views-row {
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-bottom: 60px; }
  .view-display-id-frontpage_diensten_block .views-row .views-field-title {
    text-align: center; }
    .view-display-id-frontpage_diensten_block .views-row .views-field-title a {
      color: #000; }
.view-display-id-frontpage_diensten_block .views-row-last {
  margin-bottom: 0px; }

/* Diensten */
.region-sidebar-first {
  padding: 20px 0px; }
  .region-sidebar-first .block-superfish {
    float: left; }
  .region-sidebar-first .block-superfish-3 {
    float: left;
    padding-bottom: 10px; }
    .region-sidebar-first .block-superfish-3 h2.block-title {
      float: left;
      font-size: 18px;
      padding-bottom: 0; }
    .region-sidebar-first .block-superfish-3 ul li {
      margin: 0;
      width: 100%;
      margin-left: 0px;
      border-bottom: 1px dashed #ddd; }
      .region-sidebar-first .block-superfish-3 ul li a {
        font-size: 1em;
        padding: 8px 0;
        font-weight: 400;
        color: #000; }
      .region-sidebar-first .block-superfish-3 ul li a.active {
        color: #4d74a3; }
  .region-sidebar-first .sf-megamenu-column ol li a {
    font-size: 0.875em; }
  .region-sidebar-first .sf-megamenu-column ol li a:before {
    content: '\003e';
    margin-right: 3%; }
  .region-sidebar-first .sf-megamenu-column ol li a.active {
    color: #4d74a3; }

.field-name-field-usp ul li {
  padding: 0;
  margin: 0;
  background: url("../css/img/check-circle.png") no-repeat center left;
  background-size: 24px;
  padding-left: 36px;
  line-height: 48px;
  float: left;
  width: 45%; }

.field-name-field-usp ul li.last {
  margin-bottom: 30px; }

/* Nieuws */
.views-exposed-form label {
  font-weight: 300; }
.views-exposed-form .form-type-bef-checkbox {
  border-bottom: 1px dashed #ddd;
  padding: 8px 0; }

.view-display-id-page_1_nieuws .views-row {
  display: inline-block;
  padding-bottom: 30px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 30px; }
.view-display-id-page_1_nieuws .views-field {
  width: 100%;
  float: left;
  text-align: center; }
.view-display-id-page_1_nieuws .views-field-field-image {
  width: 100%;
  margin-right: 0%; }
  .view-display-id-page_1_nieuws .views-field-field-image img {
    width: 100%; }
.view-display-id-page_1_nieuws .views-field-title {
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 300; }
  .view-display-id-page_1_nieuws .views-field-title a {
    color: #000; }
.view-display-id-page_1_nieuws .views-field-view-node {
  width: 100%; }
  .view-display-id-page_1_nieuws .views-field-view-node a {
    color: #4d74a3;
    width: 60%;
    float: right;
    text-align: left; }
.view-display-id-page_1_nieuws .views-field-created {
  font-size: 0.813em;
  padding-bottom: 10px; }

/* Contact */
.node-webform {
  text-align: center; }
  .node-webform h2 {
    font-weight: 300; }
  .node-webform input[type="text"], .node-webform input[type="email"], .node-webform textarea {
    margin: 0 auto; }
  .node-webform form {
    width: 70%;
    margin: 0 auto; }
  .node-webform input[type="submit"] {
    border-radius: 0;
    background: #f59f00;
    color: #fff;
    font-weight: 300; }

.views-field-field-contactgegevens .field-name-field-title {
  font-size: 1.6em;
  font-weight: 300; }

.block-views-contact-contact-block .group-left {
  width: 100%; }
.block-views-contact-contact-block .group-right {
  widht: 100%; }

/* Googlemaps */
.context-neem-contact-met-ons-op #zone-postscript-second {
  width: 100%; }
.context-neem-contact-met-ons-op #region-postscript-second {
  width: 100%;
  margin: 0; }
  .context-neem-contact-met-ons-op #region-postscript-second iframe {
    width: 100%; }
.context-neem-contact-met-ons-op #block-block-1 {
  width: 80%;
  margin: 0 auto; }

/* footer */
.block-superfish-2 ul li {
  margin: 0;
  width: 100%; }
  .block-superfish-2 ul li a {
    color: #fff;
    font-size: 1em;
    padding: 4px 0; }

#zone-footer-wrapper {
  color: #fff; }
  #zone-footer-wrapper h2.block-title {
    text-align: left;
    color: #fff;
    font-size: 18px;
    padding-bottom: 0; }

#region-footer-third a {
  color: #f59f00; }

#region-footer-first {
  margin-bottom: 30px; }

#region-footer-second {
  margin-bottom: 30px; }

/* Slideshow */
#block-views-diensten-block-1 {
  position: relative;
  margin-top: 50px; }
  #block-views-diensten-block-1 .views_slideshow_cycle_main {
    width: 80%;
    margin: 0 auto;
    float: none; }
  #block-views-diensten-block-1 .views-row {
    width: 31%;
    padding-right: 2%;
    float: left;
    margin: 0 auto; }
  #block-views-diensten-block-1 .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 36%;
    left: 0px;
    z-index: 100;
    background: url("img/dark-arrowleft.png") no-repeat center;
    background-size: 21px;
    width: 20px;
    height: 36px;
    text-indent: -9999px; }
  #block-views-diensten-block-1 .views-slideshow-controls-text-pause {
    display: none; }
  #block-views-diensten-block-1 .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top: 36%;
    right: 0px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/dark-arrowright.png") no-repeat center;
    background-size: 21px;
    width: 20px;
    height: 36px; }

/* medewerkers */
#block-views-medewerkers-medewerkers-block .views-row {
  width: 100%;
  min-height: 285px;
  padding: 5px 3% 20px 3%;
  box-sizing: border-box;
  float: left; }
  #block-views-medewerkers-medewerkers-block .views-row img {
    width: 66%;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px; }
  #block-views-medewerkers-medewerkers-block .views-row .views-field-field-naam {
    text-align: center;
    color: #f59f00; }
  #block-views-medewerkers-medewerkers-block .views-row .views-field-field-functie {
    text-align: center; }

/* Faq + over ons */
.ui-icon {
  background-position: 0 0;
  background-image: url(img/square-plus.png) !important;
  width: 23px;
  height: 23px; }

.ui-state-hover .ui-icon {
  background-image: url(img/square-plus-blue.png) !important; }

.views-field-field-vraag, .views-field-field-title {
  border: none;
  background: transparent url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  top: 42%; }

.ui-accordion .ui-accordion-content {
  border: none;
  font-size: 15px;
  width: 45%; }

/* Sticky menu */
.admin-menu .is-sticky .zone-branding-wrapper {
  top: 29px !important; }
.admin-menu .zone-branding-wrapper {
  top: 28px; }

.zone-branding-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997; }

.sticky-wrapper {
  height: 0 !important; }

/* Over ons */
.context-over-ons #block-views-medewerkers-medewerkers-block {
  margin-top: 50px;
  border-top: 1px dashed;
  padding-top: 50px; }

/*# sourceMappingURL=global.css.map */
