/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'variables';
@import 'default-style';

/* Algemeen */
p {
  margin-bottom:0;
}

a.buttonred {
  float: left;
  padding: 10px 0;
  font-size: 12px;
  width: 24%;
  text-align: center;
  box-sizing: border-box;
  font-weight: 300;
  background-color:$orange;
  color: #fff;
  text-transform: uppercase;
}

h2.block-title {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom:60px;
  font-size:1.875em;
}

.logo-img {
  width:60%;
}

.zone-branding-wrapper {
  padding:10px 0;
}

.region-preface-first {
  padding:50px 0;
}

.zone-postscript-wrapper {
  padding:50px 0;
  background-color:#f1f4f9;
}

.zone-footer-wrapper {
  background-color:$blue;
  padding:20px 0;
}

.zone-content-wrapper {
  padding:50px 0;
}

/* Banner */
#zone-header {
  width:100%;
  #region-header-first {
    width:100%;
    margin:0;
    img {
      width:100%;
    }
    .field-name-field-body {
      background-color: #000;
      opacity: 0.8;
      color: #FFFFFF;
      padding: 16px 10px;
      position: absolute;
      bottom: 193px;
    }
    .field-name-field-title {
      background-color: #000;
      opacity: 0.8;
      color: #FFFFFF;
      padding: 16px 10px;
      position: absolute;
      bottom: 253px;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  .field-collection-view {
    width:100%;
    margin:0;
  }
}


/* Menu */
.block-superfish-1 {
  float:right;
  ul {
    li {
      a {
        font-family:$font;
        font-size:0.938em;
        color:#000;
        text-transform:uppercase;
        font-weight:700;
        margin: 32px 55px 0 0;
        border-top:3px solid transparent;
        padding-top:5px;
      }
      a:hover {
        color:$blue;
      }
      a.active {
        color:#000;
        border-top:3px solid $blue;
      }
      a.notactive {
        border-top:3px solid transparent;
      }
    }
  }
}

/* Frontpage */
.block-nieuws-news-frontpage-block {
  .more-link {
    clear: both;
    text-align: center;
    a {
      background-color: $blue;
      color: #fff;
      padding: 14px 25px;
      font-size: 1em;
      display: inline-block;
    }
  }
  .views-row {
    width: 33.3%;
    padding: 0 6%;
    float:left;
    box-sizing: border-box;
    margin-bottom:60px;
    .views-field-created {
      font-size:0.813em;
    }
    .views-field-title {
      a {
        color:#000;
        font-size:1.125em;
      }
    }
    .views-field-field-samenvatting {
      font-size:0.938em;
    }
    .views-field-field-image {
      float:left;
      margin-bottom:10px;
    }
  }
}

.view-display-id-frontpage_diensten_block {
  .views-row {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    margin-bottom:60px;
    .views-field-title {
      text-align:center;
      a {
        color:#000;
      }
    }
  }
}

/* Diensten */
.region-sidebar-first {
  padding:20px 0px;
  .block-superfish {
    float:left;
  }
  .block-superfish-3 {
    float:left;
    padding-bottom:10px;
    h2.block-title {
      float: left;
      font-size: 18px;
      padding-bottom: 0;
    }
    ul {
      li {
        margin:0;
        width:100%;
        margin-left:0px;
        border-bottom: 1px dashed #ddd;
        a {
          font-size:1em;
          padding:8px 0;
          font-weight:400;
        }
        a.active {
          color:$blue;
        }
      }
    }
  }
  .sf-megamenu-column {
    ol {
      li {
        a {
          font-size:0.875em;
        }
        a:before {
          content:'\003e';
          margin-right:3%;
        }
        a.active {
          color:$blue;
        }
      }
    }
  }
}

.field-name-field-usp ul li {
  padding: 0;
  margin: 0;
  background: url("../css/img/check-circle.png") no-repeat center left;
  background-size: 24px;
  padding-left: 36px;
  line-height: 48px;
  float: left;
  width: 45%;
}


/* Nieuws */
.views-exposed-form {
  label {
    font-weight: 300;
  }
  .form-type-bef-checkbox {
    border-bottom: 1px dashed #ddd;
    padding: 8px 0;
  }
}

.view-display-id-page_1_nieuws {
  .views-row {
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 30px;
  }
  .views-field {
    width: 55%;
    float: left;
    text-align: left;
  }
  .views-field-field-image {
    width:35%;
    margin-right:5%;
  }
  .views-field-title {
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 300;
    a {
      color:#000;
    }
  }
  .views-field-view-node {
    width:100%;
    a {
      color: $blue;
      width: 60%;
      float: right;
      text-align: left;
    }
  }
  .views-field-created {
    font-size:0.813em;
    padding-bottom:10px;
  }
}

/* Contact */
.node-webform {
  text-align:center;
  h2 {
    font-weight:300;
  }
  input[type="text"], input[type="email"],textarea {
    margin:0 auto;
  }
  form {
    width: 70%;
    margin: 0 auto;
  }
  input[type="submit"] {
    border-radius:0;
    background:$orange;
    color:#fff;
    font-weight:300;
  }
}

.views-field-field-contactgegevens {
  .field-name-field-title {
    font-size: 1.6em;
    font-weight:300;
  }
}

.block-views-contact-contact-block {
  .group-left {
    width:20%;
  }
}

/* Googlemaps */
#zone-postscript-second {
  width:100%;
}

#region-postscript-second {
  width:100%;
  margin:0;
  iframe {
    width:100%;
  }
}

/* footer */
.block-superfish-2 {
  ul li {
    margin: 0;
    width:100%;
    a {
      color: #fff;
      font-size: 1em;
      padding: 4px 0;
    }
  }
}

#zone-footer-wrapper {
  color:#fff;
  h2.block-title {
    text-align: left;
    color: #fff;
    font-size: 18px;
    padding-bottom:0;
  }
}
